body {
    position: fixed;
    display: flex;
    background: #fdfdfd;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
   }
   
   /* Make images easier to work with */
   img {
    max-width: 100%;
    display: block;
   }
   